###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.vs/21 Remastered/v15/Server/sqlite3/storage.ide-wal
.vs/21 Remastered/v15/Server/sqlite3/storage.ide
.vs/21 Remastered/v15/Server/sqlite3/db.lock
.vs/21 Remastered/v15/Server/sqlite3/storage.ide-shm
.vs/21-Remastered/v15/Server/sqlite3/storage.ide-wal
.vs/21-Remastered/v15/Server/sqlite3/storage.ide-shm
.vs/21-Remastered/v15/Server/sqlite3/storage.ide
.vs/21-Remastered/v15/Server/sqlite3/db.lock
.vs/21-Remastered/DesignTimeBuild/.dtbcache
21 Remastered_Data/Managed/UnityEngine.AIModule.xml
21 Remastered_Data/Managed/UnityEngine.AIModule.dll
21 Remastered_Data/Managed/Unity.TextMeshPro.dll
21 Remastered_Data/Managed/System.dll
21 Remastered_Data/Managed/System.Core.dll
21 Remastered_Data/Managed/Mono.Security.dll
21 Remastered_Data/Managed/Assembly-CSharp.dll
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
21 Remastered_Data/Managed/UnityEngine.UnityConnectModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityConnectModule.dll
21 Remastered_Data/Managed/UnityEngine.UnityAnalyticsModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
21 Remastered_Data/Managed/UnityEngine.UmbraModule.xml
21 Remastered_Data/Managed/UnityEngine.UmbraModule.dll
21 Remastered_Data/Managed/UnityEngine.UNETModule.xml
21 Remastered_Data/Managed/UnityEngine.UNETModule.dll
21 Remastered_Data/Managed/UnityEngine.UIModule.xml
21 Remastered_Data/Managed/UnityEngine.UIModule.dll
21 Remastered_Data/Managed/UnityEngine.UIElementsModule.xml
21 Remastered_Data/Managed/UnityEngine.UIElementsModule.dll
21 Remastered_Data/Managed/UnityEngine.UI.dll
21 Remastered_Data/Managed/UnityEngine.TimelineModule.xml
21 Remastered_Data/Managed/UnityEngine.JSONSerializeModule.dll
21 Remastered_Data/Managed/UnityEngine.InputModule.xml
21 Remastered_Data/Managed/UnityEngine.InputModule.dll
21 Remastered_Data/Managed/UnityEngine.ImageConversionModule.xml
21 Remastered_Data/Managed/UnityEngine.ImageConversionModule.dll
21 Remastered_Data/Managed/UnityEngine.IMGUIModule.xml
21 Remastered_Data/Managed/UnityEngine.IMGUIModule.dll
21 Remastered_Data/Managed/UnityEngine.HotReloadModule.xml
21 Remastered_Data/Managed/UnityEngine.HotReloadModule.dll
21 Remastered_Data/Managed/UnityEngine.GridModule.xml
21 Remastered_Data/Managed/UnityEngine.GridModule.dll
21 Remastered_Data/Managed/UnityEngine.GameCenterModule.xml
21 Remastered_Data/Managed/UnityEngine.GameCenterModule.dll
21 Remastered_Data/Managed/UnityEngine.FileSystemHttpModule.xml
21 Remastered_Data/Managed/UnityEngine.FileSystemHttpModule.dll
21 Remastered_Data/Managed/UnityEngine.FacebookModule.xml
21 Remastered_Data/Managed/UnityEngine.FacebookModule.dll
21 Remastered_Data/Managed/UnityEngine.DirectorModule.xml
21 Remastered_Data/Managed/UnityEngine.DirectorModule.dll
21 Remastered_Data/Managed/UnityEngine.CrashReportingModule.xml
21 Remastered_Data/Managed/UnityEngine.CrashReportingModule.dll
21 Remastered_Data/Managed/UnityEngine.CoreModule.xml
21 Remastered_Data/Resources/unity default resources
21 Remastered_Data/Managed/mscorlib.dll
21 Remastered_Data/Managed/UnityEngine.xml
21 Remastered_Data/Managed/UnityEngine.dll
21 Remastered_Data/Managed/UnityEngine.XRModule.xml
21 Remastered_Data/Managed/UnityEngine.XRModule.dll
21 Remastered_Data/Managed/UnityEngine.WindModule.xml
21 Remastered_Data/Managed/UnityEngine.WindModule.dll
21 Remastered_Data/Managed/UnityEngine.VideoModule.xml
21 Remastered_Data/Managed/UnityEngine.VideoModule.dll
21 Remastered_Data/Managed/UnityEngine.VehiclesModule.xml
21 Remastered_Data/Managed/UnityEngine.VehiclesModule.dll
21 Remastered_Data/Managed/UnityEngine.VRModule.xml
21 Remastered_Data/Managed/UnityEngine.VRModule.dll
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
21 Remastered_Data/Managed/UnityEngine.TimelineModule.dll
21 Remastered_Data/Managed/UnityEngine.Timeline.dll
21 Remastered_Data/Managed/UnityEngine.TilemapModule.xml
21 Remastered_Data/Managed/UnityEngine.TilemapModule.dll
21 Remastered_Data/Managed/UnityEngine.TextRenderingModule.xml
21 Remastered_Data/Managed/UnityEngine.TextRenderingModule.dll
21 Remastered_Data/Managed/UnityEngine.TerrainPhysicsModule.xml
21 Remastered_Data/Managed/UnityEngine.CoreModule.dll
21 Remastered_Data/Managed/UnityEngine.ClusterRendererModule.xml
21 Remastered_Data/Managed/UnityEngine.ClusterRendererModule.dll
21 Remastered_Data/Managed/UnityEngine.ClusterInputModule.xml
21 Remastered_Data/Managed/UnityEngine.ClusterInputModule.dll
21 Remastered_Data/Managed/UnityEngine.CloudWebServicesModule.xml
21 Remastered_Data/Managed/UnityEngine.CloudWebServicesModule.dll
21 Remastered_Data/Managed/UnityEngine.ClothModule.xml
21 Remastered_Data/Managed/UnityEngine.ClothModule.dll
21 Remastered_Data/Managed/UnityEngine.BaselibModule.xml
21 Remastered_Data/Managed/UnityEngine.BaselibModule.dll
21 Remastered_Data/Managed/UnityEngine.AudioModule.xml
21 Remastered_Data/Managed/UnityEngine.AudioModule.dll
21 Remastered_Data/Managed/UnityEngine.AssetBundleModule.xml
21 Remastered_Data/Managed/UnityEngine.AssetBundleModule.dll
21 Remastered_Data/Managed/UnityEngine.AnimationModule.xml
21 Remastered_Data/Managed/UnityEngine.AnimationModule.dll
21 Remastered_Data/Managed/UnityEngine.Analytics.dll
21 Remastered_Data/Managed/UnityEngine.AccessibilityModule.xml
21 Remastered_Data/Managed/UnityEngine.AccessibilityModule.dll
21 Remastered_Data/Managed/UnityEngine.ARModule.xml
21 Remastered_Data/Managed/UnityEngine.ARModule.dll
Mono/EmbedRuntime/mono.dll
Mono/EmbedRuntime/MonoPosixHelper.dll
21 Remastered_Data/sharedassets0.assets.resS
21 Remastered_Data/sharedassets0.assets
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestModule.dll
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
21 Remastered_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
21 Remastered_Data/Managed/UnityEngine.SpriteMaskModule.dll
21 Remastered_Data/Managed/UnityEngine.SpatialTracking.dll
21 Remastered_Data/Managed/UnityEngine.SharedInternalsModule.xml
21 Remastered_Data/Managed/UnityEngine.SharedInternalsModule.dll
21 Remastered_Data/Managed/UnityEngine.ScreenCaptureModule.xml
21 Remastered_Data/Managed/UnityEngine.ScreenCaptureModule.dll
21 Remastered_Data/Managed/UnityEngine.ProfilerModule.xml
21 Remastered_Data/Managed/UnityEngine.ProfilerModule.dll
21 Remastered_Data/Managed/UnityEngine.PhysicsModule.xml
21 Remastered_Data/Managed/UnityEngine.PhysicsModule.dll
21 Remastered_Data/Managed/UnityEngine.Physics2DModule.xml
21 Remastered_Data/Managed/UnityEngine.Physics2DModule.dll
21 Remastered_Data/Managed/UnityEngine.PerformanceReportingModule.xml
21 Remastered_Data/Managed/UnityEngine.PerformanceReportingModule.dll
21 Remastered_Data/Managed/UnityEngine.ParticlesLegacyModule.xml
21 Remastered_Data/Managed/UnityEngine.ParticlesLegacyModule.dll
21 Remastered_Data/Managed/UnityEngine.ParticleSystemModule.xml
21 Remastered_Data/Managed/UnityEngine.ParticleSystemModule.dll
21 Remastered_Data/Managed/UnityEngine.Networking.dll
21 Remastered_Data/Managed/UnityEngine.LocalizationModule.xml
21 Remastered_Data/Managed/UnityEngine.LocalizationModule.dll
21 Remastered_Data/Managed/UnityEngine.JSONSerializeModule.xml
Mono/etc/mono/mconfig/config.xml
Mono/etc/mono/config
Mono/etc/mono/browscap.ini
Mono/etc/mono/2.0/web.config
Mono/etc/mono/2.0/settings.map
Mono/etc/mono/2.0/machine.config
Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Mono/etc/mono/2.0/Browsers/Compat.browser
Mono/etc/mono/1.0/machine.config
Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
21 Remastered_Data/level0
21 Remastered_Data/globalgamemanagers.assets
21 Remastered_Data/globalgamemanagers
21 Remastered_Data/boot.config
21 Remastered_Data/app.info
21 Remastered_Data/Resources/unity_builtin_extra
21 Remastered_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
21 Remastered_Data/Managed/UnityEngine.TerrainModule.xml
21 Remastered_Data/Managed/UnityEngine.TerrainModule.dll
21 Remastered_Data/Managed/UnityEngine.TLSModule.xml
21 Remastered_Data/Managed/UnityEngine.TLSModule.dll
21 Remastered_Data/Managed/UnityEngine.SubstanceModule.xml
21 Remastered_Data/Managed/UnityEngine.SubstanceModule.dll
21 Remastered_Data/Managed/UnityEngine.StyleSheetsModule.xml
21 Remastered_Data/Managed/UnityEngine.StyleSheetsModule.dll
21 Remastered_Data/Managed/UnityEngine.StreamingModule.xml
21 Remastered_Data/Managed/UnityEngine.StreamingModule.dll
21 Remastered_Data/Managed/UnityEngine.StandardEvents.dll
21 Remastered_Data/Managed/UnityEngine.SpriteShapeModule.xml
21 Remastered_Data/Managed/UnityEngine.SpriteShapeModule.dll
21 Remastered_Data/Managed/UnityEngine.SpriteMaskModule.xml
UnityPlayer.dll
UnityCrashHandler64.exe
21 Remastered.exe
